{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Contact{% endblock title %}
{% block content %}

<div id="contact-hero-section"></div>
<!-- Contact page start -->
<section>
  <h1 class="fw-bold text-center my-4 fs-3" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
    Get <span class="orange-text"> In Touch</span>
  </h1>
  <div class="container mb-5">
    <div class="row">
      <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
        <p>If you have any questions don't hesitate to contact us.</p>
        <form method="post">
          <!-- contact form and button to submit -->
          {{ form | crispy }}
          {% csrf_token %}
          <button type="submit" aria-label="button to submit contact form"
            class="submit-btn hvr-float-shadow">Submit</button>
        </form>
      </div>
      <!-- FAQs section -->
      <div class="col-12 col-lg-6 mt-4 px-0" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
        <h3 class="text-center mb-3 fw-semibold">FAQs</h3>
        <!-- Retrieve FAQs from Databse and display them -->
        {% for faqs in faq %}
        <div class="mb-3">
          <p class="mb-0">
            <button class="faq-btn" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample{{ faqs.id }}" aria-expanded="false" aria-controls="collapseExample">
              {{ faqs.title | safe }} <i class="fa-solid fa-chevron-down orange-text"></i>
            </button>
          </p>
          <div class="collapse" id="collapseExample{{ faqs.id }}">
            <div class="faq-content">
              <p>{{ faqs.content | safe }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- Contact page end -->
{% endblock content %}