{% extends "base.html" %}
{% load i18n %}
{% load static %}
<!-- widget_tweaks package add classes to django allauth field to style them -->
{% load widget_tweaks %}
{% block head_title %} {% trans "Login" %} {% endblock %}
{% block title %}Login{% endblock title %}
{% block content %}

<!-- Login page -->
<div class="container py-5 px-2 p-xl-5">
  <div class="row">
    <div class="col-12 col-lg-6 mt-5 mt-lg-0 order-2 order-lg-1">
      <img src="{% static 'images/accounts/login_image.webp' %}" id="login-image"
        alt="Two hands holding a white ribbon to support cancer.">
    </div>
    <div class="col-12 col-lg-6 order-1 order-lg-2">
      <h1 class="fw-semibold fs-3">
        Welcome back to<span class="orange-text"> HopeForCancer!</span>
      </h1>
      <p>
        {% blocktrans %}
        To create or edit a post or to engage with our community by leaving a like or comment, please login to your
        account. If you don't have an account yet, please
        <a href="{{ signup_url }}" class="orange-text fw-semibold"
          aria-label="link to bring to signup page if you don't have an account already">sign up</a>
        to join our community.
        {% endblocktrans %}
      </p>
      <!-- Login form -->
      <form class="login mt-4" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <!-- Iterate non_field_errors and provide error message to user -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% endif %}
        {% for field in form %}
        <!-- add css classes to style input fields -->
        <div class="form-group">
          {{ field.label_tag }}
          {% if field.name != 'remember' %}
          {{ field|add_class:"form-control" }}
          {% else %}
          {{ field|add_class:"remember-field" }}
          {% endif %}
          <!-- Provides field_error messages to user -->
          {% for error in field.errors %}
          <span class="help-block alert-text">{{ error }}</span>
          {% endfor %}
        </div>
        {% endfor %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="card-button px-5" type="submit"
          aria-label="button to login to the site">{% trans "Login" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}