{% extends "base.html" %}
{% load i18n %}
{% load static %}
<!-- widget_tweaks package add classes to django allauth field to style them -->
{% load widget_tweaks %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block title %}Signup{% endblock title %}
{% block content %}

<!-- Signup page -->
<div class="container py-5 px-2 p-xl-5">
  <div class="row">

    <div class="col-12 col-lg-6">
      <h1 class="fw-semibold fs-3">
        Welcome to <span class="orange-text"> HopeForCancer!</span>
      </h1>
      <p>{% blocktrans %}
        To create an account, kindly provide the required information in the fields below. If you already have an
        account, please proceed to <a href="{{ login_url }}"><span
            class="orange-text fw-semibold">login.</span></a>{% endblocktrans %}</p>
      <!-- Signup form -->
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <!-- Iterate non_field_errors and provide error message to user -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% endif %}
        {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field|add_class:"form-control" }}
          <!-- Provides field_error messages to user -->
          {% for error in field.errors %}
          <span class="help-block alert-text">{{ error }}</span>
          {% endfor %}
        </div>
        {% endfor %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="card-button px-5" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
    <div class="col-12 col-lg-6 mt-5 mt-lg-0">
      <img src="{% static 'images/accounts/signup_image.webp' %}" id="login-image"
        alt="Two hands holding a white ribbon to support cancer.">
    </div>
  </div>
</div>

{% endblock %}