{% extends "base.html" %}
{% block title %}About us{% endblock title %}
{% load static %}
{% block content %}

<section>
  <div class="div">
    <h1 class="fw-bold text-center my-5">
      ABOUT HOPE FOR CANCER
    </h1>
  </div>
  <div class="container">
    <div class="row card-info p-2">
      <div class="col-12 col-lg-6 p-0 pe-lg-5">
        <h2 class="fw-bold fs-3">
          Our mission is to raise <span class="orange-text">cancer awareness</span>
        </h2>
        <p class="mb-4 m-0">
          Our mission is to increase cancer awareness and education, empower individuals to take control of their
          health, and provide support to those affected by cancer. We strive to do this by providing accessible and
          reliable information, fostering a sense of community and support, and promoting early detection and
          prevention.
        </p>
      </div>
      <div class="col-12 col-lg-6 p-0 mb-4">
        <img src="{% static 'images/about/cancer_awareness.webp' %}" class="card-img"
          alt="Image of different color ribbons to raise cancer awareness." />
      </div>
    </div>
    <div class="col-12 col-6"></div>
  </div>
</section>
<hr id="about-hr">

<section>
  <div class="container">
    <div class="row">
      <h2 class="fw-bold fs-3 my-3">
        What are our <span class="orange-text">values?</span>


      </h2>
    </div>
  </div>
</section>




{% endblock content %}