{% extends "base.html" %}
{% block title %}About us{% endblock title %}
{% load static %}
{% block content %}

<!-- Our mission section start -->
<section>
  <div class="div">
    <h1 class="fw-bold text-center my-5">
      ABOUT HOPE FOR CANCER
    </h1>
  </div>
  <div class="container">
    <div class="row card-info p-2">
      <div class="col-12 col-lg-6 p-0 pe-lg-5">
        <h2 class="fw-bold fs-3">
          Our mission is to raise <span class="orange-text">cancer awareness</span>
        </h2>
        <p class="mb-4 m-0">
          Our mission is to increase cancer awareness and education, empower individuals to take control of their
          health, and provide support to those affected by cancer. We strive to do this by providing accessible and
          reliable information, fostering a sense of community and support, and promoting early detection and
          prevention.
        </p>
      </div>
      <div class="col-12 col-lg-6 p-0 mb-4">
        <img src="{% static 'images/about/cancer_awareness.webp' %}" class="card-img"
          alt="Image of different color ribbons to raise cancer awareness." />
      </div>
    </div>
    <div class="col-12 col-6"></div>
  </div>
</section>
<!-- Our mission section end -->
<hr id="about-hr">
<!-- Our values section start -->
<section>
  <div class="container">
    <div class="row">
      <h2 class="fw-bold fs-3 mt-4">
        What are our <span class="orange-text">values?</span>
        <div class="row my-5">
          <!-- Values entry goes here -->
          {% for value in values %}
          <div class="col-12 col-md-5 mb-4">
            <img src="{{ value.featured_image.url }}" class="card-about-img" alt="{{ value.image_description }}">
          </div>
          <div class="col-12 col-md-7">
            <h4>{{ value.title | safe | capfirst}}</h4>
            <p class="">
              {{ value.content | safe }}
            </p>
          </div>
          {% endfor %}
        </div>

      </h2>
    </div>
  </div>
</section>
<!-- Our values section end -->
{% endblock content %}