{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %}

<!-- Hero section start -->
<section>
    <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false"
        data-bs-touch="true">
        <div class="carousel-inner">
            <!-- First carousel item -->
            <div class="carousel-item active" data-bs-interval="4000">
                <div class="cta text-center">
                    <h1>Together we can fight cancer</h1>
                    <button class="cta-btn">
                        <a href="#"
                            aria-label="call to action button on home page which brings to cancer information page">Learn
                            more</a>
                    </button>
                </div>
                <div class="overlay"></div>
                <img src="{% static 'images/home/hero_image_1.webp' %}" class="d-block w-100"
                    alt="A group of woman holding hands to support cancer" />
            </div>
            <!-- Second carousel item -->
            <div class="carousel-item" data-bs-interval="4000">
                <div class="cta text-center">
                    <h1>Believe in the power of hope</h1>
                    <button class="cta-btn"><a href="#">Learn more</a></button>
                </div>
                <div class="overlay"></div>
                <img src="{% static 'images/home/hero_image_2.webp' %}" class="d-block w-100"
                    alt="A group of woman showing a card with text hope to support cancer" />
            </div>
            <!-- Third carousel item -->
            <div class="carousel-item" data-bs-interval="4000">
                <div class="cta text-center">
                    <h1>You are not alone we are one</h1>
                    <button class="cta-btn"><a href="#">Learn more</a></button>
                </div>
                <div class="overlay"></div>
                <img src="{% static 'images/home/hero_image_3.webp' %}" class="d-block w-100"
                    alt="A man holding blue ribbon to support cancer" />
            </div>
        </div>
        <!-- Carousel buttons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- Hero section end -->

<div class="text-center py-5 px-3">
    <h2 class="fw-bold mb-0">
        We want a life <span class="orange-text">without cancer</span> <br />
        time to act is <span class="orange-text">now!</span>
    </h2>
</div>
<!-- This btn move to top of page -->
<button onclick="moveTop()" id="top-btn" class="hvr-icon-up" title="Go to top"
    aria-label="button that appears after scrolling and brings to top of page"><i
        class="fa-solid fa-arrow-up hvr-icon"></i></button>

<!-- Card section start -->
<section>
    <div class="container p-0">
        <!-- First card -->
        <article>
            <div class="row card-info p-2 mx-0">
                <div class="col-12 col-lg-6 p-0 pe-lg-5">
                    <h3 class="fs-2">What is cancer?</h3>
                    <p class="m-0">
                        Cancer is a disease that occurs when abnormal cells in the body grow
                        uncontrollably. These cells can form tumors or invade nearby tissues
                        and spread to other parts of the body. While cancer can affect
                        people of all ages, it is more common in older adults...
                    </p>
                    <button type="button" class="info-btn my-4">
                        READ MORE
                    </button>
                </div>
                <div class="col-12 col-lg-6 p-0">
                    <img src="{% static 'images/home/cancer_cells.webp' %}" class="card-img"
                        alt="Image of cancer cells and normal cells inside body" />
                </div>
            </div>
        </article>
        <!-- Second card -->
        <article>
            <div class="row card-info p-2 mx-0 mt-5">
                <div class="col-12 col-lg-6 p-0 order-2 order-lg-1">
                    <img src="{% static 'images/home/types_of_cancer.webp' %}" class="card-img"
                        alt="All types of cancers ribbons with different colours." />
                </div>
                <div class="col-12 col-lg-6 p-0 ps-lg-5 order-1 order-lg-2">
                    <h3 class="fs-2">Types of cancer.</h3>
                    <p class="m-0">
                        There are many different types of cancer, including breast cancer,
                        lung cancer, prostate cancer, and skin cancer. Each type of cancer
                        has its own set of symptoms, risk factors, and treatment options.
                        Learning about these different types of cancer can help you
                        understand the disease better and take steps to reduce your risk...
                    </p>
                    <button type="button" class="info-btn my-4">
                        READ MORE
                    </button>
                </div>
        </article>
        <!-- Third card -->
        <article>
            <div class="row card-info p-2 mx-0 mt-5">
                <div class="col-12 col-lg-6 p-0 pe-lg-5">
                    <h3 class="fs-2">Importance of early detection.
                    </h3>
                    <p class="m-0">
                        Detecting cancer early is crucial to successful treatment and
                        recovery. Regular cancer screenings and check-ups can help catch
                        cancer in its early stages when it's easier to treat. Knowing the
                        signs and symptoms of cancer can also help you detect the disease
                        early and get prompt medical attention...
                    </p>
                    <button type="button" class="info-btn my-4">
                        READ MORE
                    </button>
                </div>
                <div class="col-12 col-lg-6 p-0">
                    <img src="{% static 'images/home/early_detection.webp' %}" class="card-img"
                        alt="A female doctor checking a man patient." />
                </div>
            </div>
        </article>
    </div>
</section>
<!-- Card section end -->

<!-- Understand cancer section start -->
<section>
    <article id="understand-cancer" class="d-flex align-items-center my-5">
        <div class="col-10 offset-1 d-flex flex-column align-items-center text-center my-5">
            <h2 class="fw-bold"><span class="orange-text">Understanding</span> cancer</h2>
            <p class="text-muted helper-text">Understanding cancer saves lives by improving treatments, prevention, and
                outcomes.
            </p>
            <div class="dropdown">
                <button class="dropdown-btn dropdown-toggle orange-text" type="hidden" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    What is cancer?
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item"
                            aria-label="Internal link that bring you to cancer information page, what is cancer section">What
                            is cancer?</a></li>
                    <li><a href="#" class="dropdown-item"
                            aria-label="Internal link that bring you to cancer information page, types of cancer section">Which
                            are the types of cancer?</a></li>
                    <li><a href="#" class="dropdown-item"
                            aria-label="Internal link that bring you to cancer information page, causes of cancer section">What
                            causes cancer?</a></li>
                    <li><a href="#" class="dropdown-item"
                            aria-label="Internal link that bring you to cancer information page, prevent cancer section">How
                            can I prevent cancer?</a></li>
                    <li><a href="#" class="dropdown-item"
                            aria-label="Internal link that bring you to cancer information page, early detection section">Why
                            is important an early detection?</a></li>
                </ul>
            </div>
        </div>
    </article>
</section>
<!-- Understand cancer section end -->

<!-- Latest blog posts section start -->
<section>
    <div class="container-fluid mb-4">
        <div class="text-center mb-5">
            <h2 class="fw-bold"><span class="orange-text">True</span> stories from our Blog</h2>
            <p class="text-muted helper-text mx-auto">
                Sharing experiences and insights can help others fight cancer and find hope.
                Join our community and share your story today.</p>
        </div>
        <!-- Code to display 3 cards on screens > 1200px-->
        <div class="row d-none d-xl-flex">
            {% for post in latest_posts %}
            <div class="col-4">
                <div class="card mb-5 mx-auto" style="max-width: 23rem">
                    <a href="{% url 'post_detail' post.slug %}"
                        aria-label="internal link when post is clicked to bring to blog post page">
                        {% if "placeholder" in post.featured_image.url %}
                        <img src="{% static 'images/blog_images/support_image.webp' %}" class="card-img-top"
                            alt="{{ post.describe_image }}" />
                        {% else %}
                        <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.describe_image }}" />
                        {% endif %}
                        <div class="card-body pb-0">
                            <h4 class="card-title post-title fw-bold fs-5">
                                {{ post.title | slice:":1" | upper }}{{ post.title|slice:"1:" }}</h4>
                            <p class="card-text text-muted">Category# {{ post.category }}</p>
                            <hr />
                            <p class="card-text">
                                {{ post.content | truncatechars:180 | safe }}
                            </p>
                        </div>
                        <div class="card-body pb-1">
                            <span class="me-4"><i class="fa-regular fa-heart"></i> 0</span>
                            <span><i class="fa-regular fa-comment"></i> 0</span>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted me-4">Posted by: {{ post.author | title}}</small>
                            <small class="text-muted">{{ post.created_date }}</small>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Code to display 1 card with carousel for screens < 1200px -->
        <div class="row d-xl-none">
            <div class="col-12">
                <div id="blogCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false"
                    data-bs-touch="true">
                    <div class="carousel-inner">
                        {% for post in latest_posts %}
                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                            <div class="card mb-5 mx-auto" style="max-width: 23rem">
                                <a href="{% url 'post_detail' post.slug %}"
                                    aria-label="internal link when post is clicked to bring to blog post page">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img src="{% static 'images/blog_images/support_image.webp' %}" class="card-img-top"
                                        alt="{{ post.describe_image }}" />
                                    {% else %}
                                    <img src="{{ post.featured_image.url }}" class="card-img-top"
                                        alt="{{ post.describe_image }}" />
                                    {% endif %}
                                    <div class="card-body pb-0">
                                        <h4 class="card-title post-title fw-bold fs-5">
                                            {{ post.title | slice:":1" | upper }}{{ post.title|slice:"1:" }}
                                        </h4>
                                        <p class="card-text text-muted">Category# {{ post.category }}</p>
                                        <hr />
                                        <p class="card-text">
                                            {{ post.content | truncatechars:140 | safe}}
                                        </p>
                                    </div>
                                    <div class="card-body pb-1">
                                        <span class="me-4"><i class="fa-regular fa-heart"></i> 0</span>
                                        <span><i class="fa-regular fa-comment"></i> 0</span>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted me-4">Posted by: {{ post.author | title}}</small>
                                        <small class="text-muted">{{ post.created_date }}</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#blogCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#blogCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Latest blog posts section end -->
{% endblock content %}