/* --------------------------------------------------- General styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html {
    font-size: calc(15px + 0.390625vw);
}

body {
    font-family: "Montserrat", sans-serif;
    color: #010b13;
    background-color: #f9f4fb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

.orange-text {
    color: #e06b02;
}

.purple-text {
    color: #8129C1;
}

.alert-text {
    color: #a30b1b;
}

p {
    font-family: 'Merriweather', serif;
    text-transform: none;
    font-weight: 400;
}

/* --------------------------------------------------- Navbar styles */
header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(249, 244, 251);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 50;
}

.nav-item a {
    color: #010b13;
    margin: 0 5px;
}

.navbar-nav {
    font-size: 1.1rem;
}

.header-bg {
    background-color: #fab1dc;
    border-radius: 0 250px 0 250px;
    min-height: 110px;
    display: flex;
    align-items: center;
}

#logo img {
    height: 110px;
    padding: 8px 0;
}

.close-offcanva {
    position: relative;
    top: -44%;
    left: 87%;
    font-size: 2.5em;
    border: none;
    color: #8129c1;
    background-color: #f7f7f7;
}

.offcanvas {
    background-color: #f9f4fb;
}

.fa-bars {
    color: #8129c1;
    font-size: 2.5em;
}

.menu-toggler {
    border: none;
    background-color: transparent;
}

.hvr-underline-from-center::before {
    background-color: #f9f4fb;
}

.active {
    font-weight: 600;
    color: #32421c !important;
}


/* --------------------------------------------------- Footer styles */
footer {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://res.cloudinary.com/dxlqthpli/image/upload/v1683567179/static/images/base_images/footer_img.da8f2c0ff5b4.webp") center center/cover no-repeat;
    min-height: 300px;
    margin-top: auto;
}

#footer-links {
    margin: 0;
    padding: 0;
}

footer p,
footer li,
footer address {
    font-size: 0.9rem;
}

/* --------------------------------------------------- Home page styles */
/* Hero section */
#carouselExampleInterval img {
    height: calc(100vh - 110px);
    object-fit: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: 0.55;
}

.cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7f7f7;
    z-index: 10;
    min-width: 300px;
    width: 1000px;

}

.cta h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.3rem;
}

.cta-btn {
    background-color: #f7f7f7;
    color: #8129C1;
    padding: 5px 25px;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.4s ease;
    margin-top: 40px;
    outline: 2px solid #ffffff;
    outline-offset: 2px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;

}

.cta-btn:hover {
    background-color: #fab1dc;
    color: #010b13;
}

/* Move to top button */
#top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 200;
    border: none;
    outline: none;
    background-color: rgb(102, 176, 0);
    color: rgb(247, 248, 245);
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
    display: none;
    /* shadow taken from https://getcssscan.com/ */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Card section */
h2 {
    text-transform: uppercase;
}

.card-img {
    object-fit: cover;
    height: 100%;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.info-btn {
    color: #8129C1;
    border: 1.5px solid #8129C1;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 5px 20px;
    font-weight: 600;
    transition: all 0.4s ease;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
}

.info-btn:hover {
    color: #F9F4FB !important;
    background-color: #8129C1 !important;
}

/* Understand cancer section */
#understand-cancer {
    background-color: #e5e3fa;
    height: 18rem;
}

.dropdown {
    max-width: 400px;
}

.dropdown-btn,
.dropdown-menu {
    font-family: 'Merriweather', serif;
    font-size: 0.9rem;
    width: 400px;
    border-radius: 0px;
    padding: 5px 0;
    border: 2px solid #e06b02;
    background-color: #f7f7f7;
    z-index: 48;
}

.dropdown-btn:hover {
    transition: all 0.4s ease;
    background-color: #e06b02;
    color: #f7f7f7;
}

.dropdown-item:active {
    background-color: #f7f7f7;
    font-weight: 600;
}

.dropdown-item:hover {
    color: #e06b02;
}

/* Latest blog posts section */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

.helper-text {
    max-width: 700px;
}

#no-post-msg {
    background-color: #ffffff;
    padding: 2rem 0.5rem;
}

/* --------------------------------------------------- About us page style */
#about-hero-section {
    height: 400px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(https://res.cloudinary.com/dxlqthpli/image/upload/v1683567157/static/images/about_page/about_hero_image.c597dd266f0f.webp) center center/ cover no-repeat;
    position: relative;
}

#about-hr {
    border: none;
    width: 85%;
    margin: 0 auto;
    box-shadow: rgba(98, 0, 155, 0.7) 0px 0px 0px 1.5px;
}

.card-about-img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.img-container {
    position: relative;
    display: inline-block;
}

.img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 22rem;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    z-index: 1;
}

.img-container img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
}

/* --------------------------------------------------- Cancer information page style */
#info-hero-section {
    height: 400px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://res.cloudinary.com/dxlqthpli/image/upload/v1683567163/static/images/info_page/info_hero_section.0d7810db3c7f.webp") center center/ cover no-repeat;
    position: relative;
}

.cancer-info-img {
    width: 80%;
    object-fit: cover;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.info-text {
    max-width: 1200px;
    margin: 0 auto;
}

#info-container {
    background-color: #ffffff;
}

ol li {
    list-style-type: decimal;
}

#oredered-text li {
    list-style-type: disc;
}

/* --------------------------------------------------- Blog page styles */
.blog-subtitle {
    max-width: 900px;
    margin: 0 auto;
}

#blog-hero-section {
    height: 400px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(https://res.cloudinary.com/dxlqthpli/image/upload/v1683567182/static/images/blog_images/blog_hero_section.2338daf5026a.webp) center center/ cover no-repeat;
    position: relative;
}

.create-post-btn {
    background-image: radial-gradient(100% 100% at 100% 0, #dca8ff 20%, #8129C1 100%);
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    text-transform: uppercase;
    font-weight: 600;
    color: #f7f7f7;
    border: none;
    border-radius: 20px;
    line-height: 2.2rem;
    padding: 0 30px;
}

.card {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: 1px solid #4d4d4d;
    border-radius: 10px;
}

.card-context {
    height: 15rem;
}

.hr {
    margin-bottom: 0.5rem;
}

.post-title:hover {
    color: #e06b02;
}

.card-img-top {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    height: 14rem !important;
}

/* --------------------------------------------------- Post Detail page */
.image-container-details {
    height: 25rem;
}

.details-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.btn-like {
    color: #6a121b;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #f0031b;
    background: transparent;
    border: none;
}

/* --------------------------------------------------- Login page */
#login-image {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 0.25rem;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    line-height: 1.2;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #495057;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fab1dc;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(250, 178, 220, 0.3);
}

.remember-field {
    margin-left: 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #495057;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
}

.account-btn,
.go-back-btn {
    /* color and shadow for this btn taken from https://getcssscan.com/ 
    credits on Readme.md */
    background-image: radial-gradient(100% 100% at 100% 0, #81cdff 20%, #7236fe 100%);
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    text-transform: uppercase;
    font-weight: 600;
    color: #f7f7f7;
    border: none;
    border-radius: 20px;
    line-height: 2.2rem;
}

/* --------------------------------------------------- Logout page */
.cancel-btn {
    padding: 13px 46px !important;
    background-color: #c93f4d;
    border: 1.5px solid #c93f4d;
    color: #f7f7f7;
    border-radius: 10px;
    padding: 5px 20px;
    font-weight: 600;
    transition: all 0.4s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cancel-btn:hover {
    background-color: #F9F4FB !important;
    color: #c93f4d !important;
}

.confirm-btn,
.update-btn {
    padding: 10px 30px !important;
    background-color: #238916;
    border: 1.5px solid #238916;
    color: #f7f7f7;
    border-radius: 10px;
    padding: 5px 20px;
    font-weight: 600;
    transition: all 0.4s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.confirm-btn:hover,
.update-btn:hover {
    background-color: #F9F4FB !important;
    color: #238916 !important;
}

/* --------------------------------------------------- Create Post page */
#create-post {
    border-radius: 20px;
    background-color: #e5e3fa;
}

input[type="file"] {
    width: 15rem;
}

.asteriskField {
    color: #a30b1b;
    padding-left: 5px;
}

/* --------------------------------------------------- Delete Post page */
.delete-post-btn {
    background-image: radial-gradient(100% 100% at 100% 0, #ffa8a8 20%, #a30b1b 100%);
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    text-transform: uppercase;
    font-weight: 600;
    color: #f7f7f7;
    border: none;
    border-radius: 20px;
    line-height: 2.2rem;
    padding: 0 30px;
}

/* --------------------------------------------------- Error 404 page */
.error-section {
    height: calc(100vh - 110px);
}

.error-img {
    width: 100%;
    height: calc(100vh - 110px);
    object-fit: cover;
    scale: 0.9;
}

/* --------------------------------------------------- Media queries */
/* Large screen media queries */
@media (max-width: 1199px) {
    .header-bg {
        min-height: 100vh;
    }

    .cta {
        width: 700px;
    }
}

/* Medium screen media queries */
@media (max-width: 889px) {
    .cta {
        width: 500px;
    }

    .cancer-info-img {
        width: 100%;
    }
}

/* Small screen media queries */
@media (max-width: 589px) {
    .cta {
        width: 320px;
    }

    .cta h1 {
        font-size: 1.8rem;
    }

    .dropdown-btn,
    .dropdown-menu {
        width: 300px;
    }

    .card-img-top {
        height: 12rem !important;
    }

    #scroll-section::-webkit-scrollbar {
        display: none;
    }

    #top-btn {
        bottom: 30px;
        right: 15px;
    }
}