/* --------------------------------------------------- General styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html {
    font-size: calc(15px + 0.390625vw);
}

body {
    font-family: "Montserrat", sans-serif;
    color: #010b13;
    background-color: #f9f4fb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.orange-text {
    color: #e06b02;
}

.purple-text {
    color: #8129C1;
}

.title-wrapper {
    max-width: 500px;
}

p {
    font-family: 'Merriweather', serif;
    /* font-size: 1.2rem; */
}



/* --------------------------------------------------- Navbar styles */
.nav-item a {
    color: #010b13;
    margin: 0 5px;
}

.navbar-nav {
    font-size: 1.1rem;
}

.header-bg {
    background-color: #fab1dc;
    border-radius: 0 250px 0 250px;
    min-height: 110px;
    display: flex;
    align-items: center;
}

#logo img {
    height: 110px;
    padding: 8px 0;
}

.close-offcanva {
    position: relative;
    top: -44%;
    left: 87%;
    font-size: 2.5em;
    border: none;
    color: #8129c1;
    background-color: transparent;
}

.offcanvas {
    background-color: #f9f4fb;
}

.fa-bars {
    color: #8129c1;
    font-size: 2.5em;
}

.menu-toggler {
    border: none;
    background-color: transparent;
}

.hvr-underline-from-center::before {
    background-color: #f9f4fb;
}

.active {
    font-weight: 600;
    color: #32421c !important;
}

/* --------------------------------------------------- Footer styles */
footer {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../images/base_images/footer_img.webp) center center/ cover no-repeat;
    min-height: 350px;
    margin-top: auto;
}

#footer-links {
    margin: 0;
    padding: 0;
}

footer p,
footer li,
footer address {
    font-size: 0.9rem;
}

/* --------------------------------------------------- Home page styles */

/* hero section */
#carouselExampleInterval img {
    height: calc(100vh - 110px);
    object-fit: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: 0.4;
}

.cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7f7f7;
    z-index: 10;
    min-width: 300px;
    width: 1000px;

}

.cta h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.3rem;
}

.cta button {
    background-color: #f7f7f7;
    color: #8129C1;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-top: 40px;
    outline: 2px solid #ffffff;
    outline-offset: 2px;

}

.cta button:hover {
    background-color: #fab1dc;
    color: #010b13;
}

/* Card section */
h2 {
    text-transform: uppercase;
}

.card-img {
    object-fit: cover;
    height: 100%;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}

.card-button {
    color: #8129C1;
    border: 1.5px solid #8129C1;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 5px 20px;
    font-weight: 600;
}

.card-button:hover {
    color: #F9F4FB !important;
    background-color: #8129C1 !important;
}

/* Dropdown section */
.dropdown>.btn-outline-primary {
    border-radius: 0px;
    width: 400px;
}

.dropdown-menu {
    width: 400px;
    border: 1px solid #8129C1;
    border-radius: 0;
}

.dropdown-item:hover {
    background-color: #8129C1;
    color: #F9F4FB;
}

/* --------------------------------------------------- Blog page styles */
#blog-hero-section {
    height: 400px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../images/blog_images/blog_hero_section.webp) center center/ cover no-repeat;
    position: relative;
}

.aside-left {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    border-radius: 8px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    border-radius: 8px;
}

#scroll-section {
    height: 100vh;
    overflow-y: auto;
}

/* This code was taken from css-trick.com, credits on Readme.md*/
#scroll-section::-webkit-scrollbar {
    width: 1em;
}

#scroll-section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#scroll-section::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
}

#scroll-section .card img {
    height: 300px;
    object-fit: cover;
}

/* End of copied code */

/* --------------------------------------------------- Post Detail page */
.image-container {
    height: 500px;
}

.image-container img {
    height: 100%;
    object-fit: cover;
    outline: 2px solid #010b13;
    outline-offset: 4px;
}

/* --------------------------------------------------- Media queries */
/* Large screen media queries */
@media (max-width: 1199px) {
    .header-bg {
        min-height: 100vh;
    }

    .cta {
        width: 700px;
    }
}

/* Medium screen media queries */
@media (max-width: 889px) {
    .cta {
        width: 500px;
    }
}

/* Small screen media queries */
@media (max-width: 589px) {
    .cta {
        width: 320px;
    }

    .cta h1 {
        font-size: 1.8rem;
    }
}