{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock %}
{% block content %}
<!-- Hero section for blog page -->
<section id="blog-hero-section" class="text-center d-flex align-items-center justify-content-center mb-5">
    <h1 class="fw-bold text-white mx-2">
        Unleashing the<span class="orange-text"> Power</span> of Storytelling
    </h1>
</section>
<div>
    <h2 class="fw-bold text-center p-2 mb-5 blog-subtitle">
        Discover<span class="orange-text"> Powerful Stories</span> of Hope and
        Courage
    </h2>
</div>
<!-- Main section for blog page -->
<section>
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-12 col-xl-4 order-1 order-xl-1">
                <!-- Aside card with information -->

                <aside class="aside-left p-3">
                    <h4 class="mb-4 fw-semibold">Join the Fight Against Cancer</h4>
                    <p class="">
                        Cancer can be a lonely and difficult journey, but you don't have to go through it alone. At
                        HopeForCancer, we believe that sharing stories and experiences can make a world of difference in
                        the lives of those impacted by cancer. By joining our community, you'll find hope, inspiration,
                        and support from others who are fighting the same battle. We value respectful and focused
                        discussions that provide accurate information and support. Let's spread knowledge and hope to
                        those affected by cancer and make a positive impact together.
                    </p>
                </aside>
                <button type="button" class="card-button my-4">
                    SHARE YOUR STORY
                </button>
            </div>
            <div class="col-12 col-xl-6 order-3 order-xl-2">
                <!-- Posts section -->
                <h3>Explore peoples cancer stories.</h3>
                <section class="" id="scroll-section">
                    <!-- Blog post entries -->
                    {% for post in all_posts %}
                    <div class="card mb-5 mx-auto" style="max-width: 35rem">
                        <a href="{% url 'post_detail' post.slug %}" class="hvr-shrink"
                            aria-label="internal link when post is clicked to bring to post details page">
                            {% if "placeholder" in post.featured_image.url %}
                            <img src="{% static 'images/blog_images/support_image.webp' %}" class="card-img-top"
                                alt="{{ post.describe_image }}" />
                            {% else %}
                            <img src="{{ post.featured_image.url }}" class="card-img-top"
                                alt="{{ post.describe_image }}" />
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title fw-bold">
                                    {{ post.title | slice:":1" | upper }}{{ post.title|slice:"1:" }}</h4>
                                <p class="card-text text-muted">Category# {{ post.category }}</p>
                                <hr />
                                <p class="card-text">
                                    {{ post.content | slice:":480" | safe }}...
                                </p>
                            </div>
                            <div class="card-body fs-5 pt-0">
                                <span class="me-5"><i class="fa-regular fa-heart"></i> 0</span>
                                <span><i class="fa-regular fa-comment"></i> 0</span>
                            </div>
                            <div class="card-footer fs-5">
                                <small class="text-muted me-4">Posted by: {{ post.author }}</small>
                                <small class="text-muted">{{ post.created_date }}</small>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </section>
            </div>
            <div class="col-12 col-xl-2 order-2 order-xl-3">
                <aside>
                    <h4>Filter by:</h4>
                    <P>Category#</P>
                    <p>Date</p>
                </aside>
            </div>
        </div>
    </div>
</section>
{% endblock %}