{% extends 'base.html' %}
{% load static %}
{% block title %}
Blog
{% endblock %}
{% block content %}
<!-- Hero section for blog page -->
<section id="blog-hero-section" class="text-center d-flex align-items-center justify-content-center mb-5">
    <h1 class="fw-bold text-white mx-2">
        Unleashing the<span class="orange-text"> Power</span> of Storytelling
    </h1>
</section>
<div>
    <h2 class="fw-bold text-center title-wrapper mx-auto p-2 mb-5">
        Discover<span class="orange-text"> Powerful Stories</span> of Hope and
        Courage
    </h2>
</div>
<!-- Main section for blog page -->
<section>
    <div class="container-fluid mb-5">
        <div class="row blog-section">
            <div class="col-12 col-xl-3 order-1 order-xl-1">
                <!-- Aside card with information -->
                <aside class="aside-left">
                    <p class="p-3 m-0">
                        Find hope in cancer stories. Join us to support and inspire those
                        impacted by cancer. Let's have meaningful conversations that honor
                        our purpose and values. Together, we can make a positive impact and
                        bring light to those in need. At HopeForCancer, we value respectful
                        and focused discussions that provide accurate information and
                        support. Let's spread knowledge and hope to those affected by
                        cancer.
                    </p>
                </aside>
            </div>
            <div class="col-12 col-xl-6 order-3 order-xl-2">
                <!-- Posts section -->
                <section class="" id="scroll-section">
                    <!-- Blog post entries -->
                    {% for post in post_list %}
                    <div class="card mb-5 mx-auto" style="max-width: 35rem">
                        <img src="{% static 'images/base_images/footer_img.webp' %}" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h4 class="card-title fw-bold">{{ post.title }}</h4>
                            <p class="card-text text-muted">Category# {{ post.category }}</p>
                            <p class="card-text">
                                {{ post.content|safe }}
                            </p>
                        </div>
                        <div class="card-body fs-5">
                            <span class="me-5"><i class="fa-regular fa-heart"></i> 0</span>
                            <span><i class="fa-regular fa-comment"></i> 0</span>
                        </div>
                        <div class="card-footer fs-5">
                            <small class="text-muted me-4">Posted by: {{ post.author }}</small>
                            <small class="text-muted">April 24 on 14:38:40</small>
                        </div>
                    </div>
                    {% endfor %}
                </section>
            </div>
            <div class="col-12 col-xl-3 order-2 order-xl-3">
                <aside>hello</aside>
            </div>
        </div>
    </div>
</section>
{% endblock %}