{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Create Post {% endblock %}
{% block content %}

<!-- Only users who are authenticated can make a post -->
{% if user.is_authenticated %}
<div class="container">
    <div class="row my-5">
        <div class="col-xl-10 mx-auto px-0 px-md-4">
            <h1 class="fw-semibold fs-3 text-center">
                Welcome to HopeForCancer <span class="orange-text">{{ user | title }}!</span>
            </h1>
            <p class="mt-3 mb-5 text-center">Sharing your cancer story can offer hope and inspiration to
                others in their fight against this disease. Join us in supporting each other and raising awareness about
                the importance of cancer prevention and treatment.
            </p>
            <!-- Craete post form -->
            <div class="form-group p-3" id="create-post">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="create-post-btn hvr-float-shadow my-3 px-4"
                        aria-label="Button to create a post">Create Post</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}