{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Logout" %}{% endblock %}
{% block title %}Delete Post{% endblock title %}
{% block content %}

<!-- Only users who are authenticated can delete a post -->
{% if user.is_authenticated and post.author == request.user%}
<!-- Delete post page -->
<div class="container-fluid my-5">
  <div class="row d-flex justify-content-center align-items-center text-center">
    <div class="col-12 col-lg-7">
      <h3 class="fw-semibold mb-5">
        Do you confirm that you wish to <span class="alert-text"> Delete</span> your post
        named: "{{ post.title | capfirst }}" ?
      </h3>
      <!-- Delete post form -->
      <form method="POST" action="{% url 'delete-post' post.slug %}">
        {% csrf_token %}
        <a href="{% url 'post_detail' post.slug %}" class="cancel-btn me-3 mb-2 d-inline-block" role="button"
          aria-label="link to post detail, doesnt delete post">No, I don't</a>
        <button type="submit" class="confirm-btn me-3"
          aria-label="button to delete post and bring back to blog page">Yes, I
          confirm</button>
      </form>
    </div>
  </div>
</div>
{% else %}
<div class="col-12 col-lg-6 mx-auto text-center">
  <h3 class="fw-semibold mt-5 text-danger-emphasis">
    You don't have permission to delete this post!
    Please go back.
  </h3>
</div>
{% endif %}
{% endblock %}