{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Edit Comment {% endblock %}
{% block content %}

<!-- Update or delete comment page -->
<section>
  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-6 mx-auto">
        <h1 class="fw-semibold fs-3">
          Welcome back <span class="orange-text">{{ user | title }}!</span>
        </h1>
        <p class="my-3"> You can update your comment using the field below, or if you prefer, you can delete it.</p>
        <form method="post" class="mt-4">
          <!-- Update or delete comment form and button to submit -->
          {{ form | crispy }}
          {% csrf_token %}
          <button type="submit" class="submit-btn hvr-float-shadow me-3"
            aria-label="button to update comment">Update</button>
          <button type="button" class="delete-post-btn hvr-float-shadow"
            aria-label="button to open delete comment modal" data-bs-toggle="modal"
            data-bs-target="#delete-comment">Delete</button>
          <!-- Delete comment bootstrap modal-->
          <div class="modal fade" id="delete-comment" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">
                    <span class="alert-text"><i class="fa-solid fa-triangle-exclamation"></i> Delete Comment</span>
                  </h5>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete your comment?
                </div>
                <div class="modal-footer">
                  <button type="button" class="submit-btn hvr-float-shadow me-3" data-bs-dismiss="modal">Close</button>
                  <a href="{% url 'delete_comment' comment.id %}" class="delete-post-btn hvr-float-shadow"
                    aria-label="Delete Comment">Delete</a>
                </div>
              </div>
            </div>
          </div>
          <!-- delete comment bootstrap modal end -->
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}