{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Post Details {% endblock %}
{% block content %}
<!-- Hero section for post detail page -->
<section id="blog-hero-section" class="text-center d-flex align-items-center justify-content-center mb-5">
    <h1 class="fw-bold text-white mx-2">
        Unleashing the<span class="orange-text"> Power</span> of Storytelling
    </h1>
</section>

<!-- Post Detail section -->
<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="image-container-details">
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="{% static 'images/blog_images/support_image.webp' %}" class="details-img"
                        alt="{{ post.describe_image }}" />
                    {% else %}
                    <img src="{{ post.featured_image.url }}" class="details-img" alt="{{ post.describe_image }}" />
                    {% endif %}
                </div>
                <div class="fs-5 mt-4">
                    <small class="text-muted me-4"><strong>Posted by:</strong> {{ post.author | title}}</small>
                    <br>
                    <small class="text-muted"><strong>Created on:</strong> {{ post.created_date }}</small>
                    <br>
                    {% if post.updated_date == post.created_date %}
                    <small class="text-muted"><strong>Created on:</strong> {{ post.created_date }}</small>
                    {% elif post.updated_date != post.created_date %}
                    <small class="text-muted"><strong>Updated on:</strong> {{ post.updated_date }}</small>
                    {% endif %}
                </div>
                <div class="card-body fs-5 mt-3 mb-4">
                    <strong class="me-4">
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                class="btn-like hvr-icon-pulse"><i class="fas fa-heart hvr-icon"></i></button>
                            {% else %}
                            <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                class="btn-like hvr-icon-pulse"><i class="far fa-heart hvr-icon"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span><i class="far fa-heart"></i></span>
                        {% endif %}
                        <!-- The number of likes goes before the closing strong tag -->
                        <span>{{ post.number_of_likes }} </span>
                    </strong>
                    <!-- shows number of comments -->
                    <span><strong><i class="far fa-comments"></i> {{ post.comment_counter }}</strong></span>
                </div>
                <div class="text-start">
                    <a class="go-back-btn px-3 hvr-wobble-horizontal me-1" href="{% url 'blog_page' %}" role="button"
                        aria-label="button to go back to blog page" title="Go Back"> &laquo; GO BACK
                    </a>
                    <a href="{% url 'create-post' %}" class="create-post-btn hvr-float-shadow d-inline-block">
                        Create Post</a>
                </div>
            </div>
            <div class="col-12 col-lg-6 py-4 py-lg-0 ps-2 ps-lg-4">
                <!-- Post title goes in these h1 tags -->
                <h3 class="card-title fw-bold">
                    {{ post.title | slice:":1" | upper }}{{ post.title|slice:"1:" }}</h3>
                <p class="card-text text-muted mt-3">Category# {{ post.category }}</p>
                <hr />
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="card-text pt-1">
                    {{ post.content | safe }}
                </p>
                {% if user.is_authenticated and post.author == request.user%}
                <div class="card-footer fs-5">
                    <a href="{% url 'update-post' post.slug %}"
                        class="create-post-btn me-5 mt-4 d-inline-block hvr-float-shadow">Edit
                        Post</a>
                    <a href="{% url 'delete-post' post.slug %}"
                        class="delete-post-btn  mt-4 d-inline-block hvr-float-shadow">Delete
                        Post</a>
                </div>
                {% endif %}
            </div>
        </div>
        <hr class="mt-4">
        <div class="row mb-5">
            <div class="col-12 col-lg-6">
                <h3 class="mb-3">Comments:</h3>
                <div class="card-body">
                    <!-- message for user if there are no comments -->
                    {% if not comments %}
                    <h5 class="mt-4">No comments yet!</h5>
                    {% else %}
                    <!-- Iterate throught comments related to thsi post to display them -->
                    {% for comment in comments %}
                    <div class="comment mb-2">
                        <span class="fw-semibold">{{ comment.name }}</span>
                        <p class="my-2">{{ comment.body | capfirst }}</p>
                        <div class="">
                            <small class="text-muted mt-2 d-block">{{ comment.created_date }}</small>
                            {% if user.is_authenticated and comment.name == request.user.username %}
                            <!-- modal to edit or delete a comment -->
                            <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Show a second modal and hide this one with the button below.
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2"
                                                data-bs-toggle="modal">Open second modal</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                                aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Hide this modal and show the first with the button below.
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle"
                                                data-bs-toggle="modal">Back to first</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button data-bs-target="#exampleModalToggle" data-bs-toggle="modal" id="edit-comment">
                                    <a href="#" class="create-post-btn d-inline-block hvr-float-shadow">Edit</a>
                                </button>
                                <button data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" id="edit-comment">
                                    <a href="#" class="delete-post-btn d-inline-block hvr-float-shadow">Delete</a>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                {% if user.is_authenticated %}
                <!-- if user is loggedin can leave a comment -->
                <p class="lead">Commenting as: {{ user.username }}</p>
                <form method="post" action="{% url 'add_comment' post.id %}">
                    <!-- comment form and button to submit -->
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="submit-btn hvr-float-shadow">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}