{% extends 'base.html' %}
{% load static %}
{% block title %} Post Details {% endblock %}
{% block content %}
<!-- Hero section for post detail page -->
<section id="blog-hero-section" class="text-center d-flex align-items-center justify-content-center mb-5">
    <h1 class="fw-bold text-white mx-2">
        Unleashing the<span class="orange-text"> Power</span> of Storytelling
    </h1>
</section>

<!-- Post Detail section -->
<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="image-container-details">
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="{% static 'images/blog_images/support_image.webp' %}" class="details-img"
                        alt="{{ post.describe_image }}" />
                    {% else %}
                    <img src="{{ post.featured_image.url }}" class="details-img" alt="{{ post.describe_image }}" />
                    {% endif %}
                </div>
                <div class="fs-5 mt-4">
                    <small class="text-muted me-4"><strong>Posted by:</strong> {{ post.author | title}}</small>
                    <br>
                    <small class="text-muted"><strong>Created on:</strong> {{ post.created_date }}</small>
                    <br>
                    {% if post.updated_date == post.created_date %}
                    <small class="text-muted"><strong>Created on:</strong> {{ post.created_date }}</small>
                    {% elif post.updated_date != post.created_date %}
                    <small class="text-muted"><strong>Updated on:</strong> {{ post.updated_date }}</small>
                    {% endif %}
                </div>
                <div class="card-body fs-5 mt-2">
                    <span class="me-5"><i class="fa-regular fa-heart"></i> 0</span>
                    <span><i class="fa-regular fa-comment"></i> 0</span>
                </div>
            </div>
            <div class="col-12 col-lg-6 py-4 py-lg-0 ps-2 ps-lg-4">
                <!-- Post title goes in these h1 tags -->
                <h3 class="card-title fw-bold">
                    {{ post.title | slice:":1" | upper }}{{ post.title|slice:"1:" }}</h3>
                <p class="card-text text-muted mt-3">Category# {{ post.category }}</p>
                <hr />
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="card-text pt-1">
                    {{ post.content | safe }}
                </p>
                {% if user.is_authenticated and post.author == request.user%}
                <div class="card-footer fs-5">
                    <a href="{% url 'update-post' post.slug %}"
                        class="create-post-btn me-5 mt-4 d-inline-block hvr-float-shadow">Edit
                        Post</a>
                    <a href="{% url 'delete-post' post.slug %}"
                        class="delete-post-btn  mt-4 d-inline-block hvr-float-shadow">Delete
                        Post</a>
                </div>
                {% endif %}
            </div>
        </div>
        <hr class="mt-5">
        <div class="row">
            <div class="col-11 col-lg-6">
                <h3>Comments:</h3>
                <div class="card-body">
                    <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                <!-- The comment's created date goes here -->
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        <!-- The body of the comment goes before the | -->
                        {{ comment.body | linebreaks }}
                    </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                </div>
                <div class="col-11 col-lg-6"></div>
            </div>
        </div>
</section>
{% endblock %}