{% extends "base.html" %}
{% load static %}
{% block title %} Page Not Found {% endblock %}
{% block content %}

<!-- Error 404 page -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <div class="my-5">
          <!-- error 404 image -->
          <img src="https://res.cloudinary.com/dxlqthpli/image/upload/v1684175225/404_img_y8kemd.jpg" id="error-404"
            alt="error 404 page not found image">
        </div>
        <!-- Button to trigger modal -->
        <button type="button" class="account-btn px-4 mb-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Need Help?
        </button>
      </div>
    </div>
  </div>

  <!-- Modal to return user back to home page -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">It looks like is nothing here <i
              class="fa-regular fa-face-frown"></i></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Lets go back home <i class="fa-regular fa-face-smile-beam"></i></h5>
        </div>
        <div class="modal-footer">
          <a class="go-back-btn px-4 hvr-wobble-horizontal me-4" href="{% url 'index' %}" role="button"
            aria-label="button to go back to home page" title="Go Back">
            &laquo; GO BACK </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}