{% load static %}
<!-- url paths imported to add active class -->
{% url 'index' as index %}
{% url 'blog_page' as blog_page %}
{% url 'account_login' as login %}
{% url 'account_signup' as signup %}
{% url 'account_logout' as logout %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="HopeForCancer - is an informative blog web app designed to raise awareness about cancer, its prevention, early detection, and treatments." />
    <meta name="keywords"
        content="HopeForCancer, Cancer, Raise awareness, Prevention, Early detection, Treatments, Blog, Stories, Support, Comunity, Health" />
    <!-- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Montserrat:wght@500;700&display=swap"
        rel="stylesheet" />
    <!-- bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <!-- font awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- hover.css link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"
        type="text/css" />
    <!-- favicon link -->
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>HopeForCancer | {% block title %}{% endblock title %}</title>
</head>

<body>
    <!-- Header start -->
    <header>
        <!-- Navbar start -->
        <nav class="navbar navbar-expand-xl p-0">
            <div class="container-fluid p-0">
                <div id="logo">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'images/base_images/logo.webp' %}" alt="logo of the web app"
                            aria-label="web app logo with link to home page">
                    </a>
                </div>
                <button class="menu-toggler d-inline-block d-xl-none me-4 hvr-icon-grow" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
                    aria-expanded="false" aria-label="Toggle offcanvas navigation">
                    <span>
                        <i class="fa-solid fa-bars hvr-icon"></i>
                    </span>
                </button>
                <!-- Navbar links -->
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">
                    <div class="header-bg">
                        <button type="button" data-bs-dismiss="offcanvas" aria-label="Close offcanvas"
                            class="close-offcanva d-inline-block d-xl-none hvr-icon-grow"><i
                                class="fa-solid fa-xmark hvr-icon"></i></button>
                        <ul class="navbar-nav mx-auto text-center">
                            <li class="nav-item">
                                <a class="nav-link hvr-underline-from-center {% if request.path == index %} active {% endif %}"
                                    id="home" href="{% url 'index' %}" aria-label="navbar link to home page">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hvr-underline-from-center" href="#"
                                    aria-label="navbar link to about us page">About us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hvr-underline-from-center" href="#"
                                    aria-label="navbar link to cancer information page">Cancer
                                    information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hvr-underline-from-center {% if request.path == blog_page %} active {% endif %}"
                                    href="{% url 'blog_page' %}" aria-label="navbar link to blog page">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hvr-underline-from-center" href="#"
                                    aria-label="navbar link to contact page">Contact</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item ms-0 ms-xl-5">
                                <a class="nav-link hvr-underline-from-center {% if request.path == logout %} active {% endif %}"
                                    href="{% url 'account_logout' %}"
                                    aria-label="navbar link to log out page">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item ms-0 ms-xl-5">
                                <a class="nav-link hvr-underline-from-center {% if request.path == login %} active {% endif %}"
                                    href="{% url 'account_login' %}" aria-label="navbar link to log in page">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link hvr-underline-from-center {% if request.path == signup %} active {% endif %}"
                                    href="{% url 'account_signup' %}"
                                    aria-label="navbar link to sign up page">Signup</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar end -->
    </header>
    <!-- Header end -->

    <!-- Main start -->
    <main>

        {% block content %}
        <!-- content goes here -->
        {% endblock content %}

    </main>
    <!-- Main end -->

    <!-- Footer start -->
    <footer class="text-white d-flex align-items-center">
        <div class="container-fluid py-5 py-md-0">
            <div class="row">
                <div class="col-12 col-md-4 ps-2 text-start text-md-center">
                    <h4 class="fw-bolder">Follow us</h4>
                    <div class="my-3">
                        <!-- External links & copyrights -->
                        <span><a class="hvr-icon-grow" href="https://twitter.com/?lang=en" target="_blank"
                                aria-label="footer link to twitter, opens in a new tab">
                                <i class="fa-brands fa-twitter hvr-icon"></i></a>
                        </span>
                        <span><a class="hvr-icon-grow px-5" href="https://www.facebook.com/" target="_blank"
                                aria-label="footer link to facebook, opens in a new tab"><i
                                    class="fa-brands fa-facebook hvr-icon"></i></a>
                        </span>
                        <span><a class="hvr-icon-grow"
                                href="https://www.youtube.com/results?search_query=hope+for+cancer" target="_blank"
                                aria-label="footer link to youtube, opens in a new tab"><i
                                    class="fa-brands fa-youtube hvr-icon"></i></a>
                        </span>
                    </div>
                    <p><i class="fa-regular fa-copyright"></i> Copyrights Reserved 2023 | Edmir Demaj</p>
                    <p>For educational purpose only.</p>

                </div>
                <div class="col-12 col-md-4 ps-2 py-4 py-md-0 text-start text-md-center">
                    <h4 class="fw-bolder">Useful Links</h4>
                    <!-- Useful internal links -->
                    <ul id="footer-links">
                        <li>
                            <a class="hvr-underline-from-center py-1" href="{% url 'index' %}"
                                aria-label="footer link to home page">Home</a>
                        </li>
                        <li>
                            <a class="hvr-underline-from-center py-1" href="#"
                                aria-label="footer link to about us page">About us</a>
                        </li>
                        <li>
                            <a class="hvr-underline-from-center py-1" href="#"
                                aria-label="footer link to cancer information page">Cancer
                                information</a>
                        </li>
                        <li>
                            <a class="hvr-underline-from-center py-1" href="{% url 'blog_page' %}"
                                aria-label="footer link to blog page">Blog</a>
                        </li>
                        <li>
                            <a class="hvr-underline-from-center py-1" href="#"
                                aria-label="footer link to contact page">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 ps-2 text-start text-md-center">
                    <!-- Contact details -->
                    <h4 class="fw-bolder">Contact us</h4>
                    <p>
                    <address class="fst-italic">245 Mary street, Dublin, Ireland</address>
                    </p>
                    <p>
                        <phone class="fst-italic">+353 458 900</phone>
                    </p>
                    <p>
                    <address class="fst-italic">hopeforcancer@email.com</address>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

    <!-- bootstrap javascript link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
        </script>
    <!-- javascript link -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>